<% provide(:title, 'Contact us') %>
<h3>Contact Us</h3>

<div class="row">
  <div class="col-md-4">

    <%= form_for @contact do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :message, class: "control-label" %>
        <%= f.text_area :message, rows: 8, class: "form-control" %>
      </div>

      <div class= "hidden">
        <%= f.submit "test", hint: 'Leave this field blank!' %>
      </div>
      <div>
        <%= f.submit 'Send message', class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>